[Unit]
Description=Duet API listener for Wemo control
After=duetcontrolserver.service
Requires=duetcontrolserver.service

[Service]
ExecStart=/usr/local/bin/execonmcode -mCode 5555 -command "./scripts/wemo.sh %%I %%C %%B"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
